[submodule "Components/Common"]
	path = Components/Common
	url = https://github.com/Eonil/Common.git
[submodule "Components/XML"]
	path = Components/XML
	url = https://github.com/Eonil/XML.git
[submodule "Components/CommonMark"]
	path = Components/CommonMark
	url = https://github.com/Eonil/CommonMark.git
[submodule "Components/SQLite3.ObjectiveC"]
	path = Components/SQLite3.ObjectiveC
	url = https://github.com/Eonil/SQLite3.ObjectiveC.git
